SN_INSTANCE=mycompanyInstanceName
SN_USERNAME=service.account
SN_PASSWORD=replace_me
SN_JDBC_DRIVER_CLASS=com.snc.db.jdbc.JDBCDriver
SN_JDBC_JAR_PATH=/app/drivers/ServiceNow-JDBC-2.0.0.jar
API_ONLY=false